.instructionContent {
    padding: 0 16px;
    padding-bottom: 20px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.instructionContent img {
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    display: block;
    box-shadow: 2px 4px 6px rgba(50, 50, 50, 0.1);
}