.startContent {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
}

.toolStartPhase {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.subTitle {
    text-align: center;
    margin: 0;
}

.phases {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 10px 0 0;
    /* border-bottom: 1px solid black; */
}

.phases a {
    text-decoration: none;
    color: black;
}

.phases p {
    width: max-content;
}

.phases a:hover {
    text-decoration: none;
    color: white;
}

.CardContainer {
    padding: 10px;
    box-shadow: 2px 5px 7px rgba(50, 50, 50, 0.2);
    border-radius: 10px;
    background-color: whitesmoke;
}