span:hover::before{
    content: attr(data-tooltip);
    background: white;
    padding: 6px 8px;
    border-radius: 12px;
    position: absolute;
    transform: translateX(0%) translateY(-100%);
    box-shadow: 2px 4px 6px rgba(50, 50, 50, 0.2);
    border: 1px solid black;
}

span {
    font-weight: 500;
}