form input {
    width: 15px;
    height: 15px;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

form div div{
    margin-bottom: 6px;
}

form p {
    display: inline;
    margin-left: 6px;
}

form label {
    display: block;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-indent: -15px;
}

form input[type="submit"] {
    width: 80px;
    height: 40px;
    margin: 10px;
    font-size: x-large;
}

form h3 {
    margin-bottom: 12px 0;
}

.subQuestion {
    margin-left: 18px;
}

li p {
    margin-left: 20px;
}