.resFile {
    display: flex;
    max-height: 96px;
}

.resFile img {
    vertical-align: middle;
    max-width: 48px;
    max-height: 48px;
    height: auto;
    margin: 10px;
}

.resFile a {
    padding-top: 8px;
    overflow: hidden;
}